// #COMPONENTS
// ##NAVIGATION
.navbar {
    margin-bottom: -1px;
    background-color: $color-main;
    .website_title {
        letter-spacing: 2px;
        margin-bottom: 0px;
        margin-top: 15px;
        text-transform: uppercase;
        font-size: 1.2em;
    }
    .strap_line {
        color: $color-accent2;
        margin-top: 0px;
        letter-spacing: 3px;
        font-weight: 300;
        font-size: 1em;
        margin-bottom: 15px;
    }
    .navigation {
        color: $white;
        text-decoration: none;
        .hvr-underline-from-left:before {
            background: $color-accent2;
        }
        // HIDE THE ANIMATED BEFORE EVENT
        .nav-selected.hvr-underline-from-left:before {
            background: $color-main;
        }
        .nav-pill {
            letter-spacing: 2px;
            padding-bottom: 10px;
            &:hover {
                cursor: pointer;
                a {
                    color: $color-accent2;
                }
                a.nav-link:hover {
                    color: $color-accent2;
                }
            }
        }
        .nav-selected {
            a {
                color: $color-accent2;
            }
            border-bottom-width: 4px;
            border-bottom-color: $color-accent2;
            border-bottom-style: solid;
            height: 30px;
        }
        //height: 55px;
        .nav-selected > a {
            color: $color-accent2;
        }
        .nav-selected > a:hover {
            color: $color-accent2;
        }
        .nav-link {
            padding: 10px 5px 5px 5px;
            font-weight: 400;
            font-size: 14;
            text-transform: uppercase;
            text-decoration: none;
        }
        .nav-link:visited {
            color: $white;
            text-decoration: none;
        }
    }
}

// ##FOOTER
#wrapper {
    padding-bottom: 140px;
    min-height: 86%;
    position: relative;
}

.footer {
    .contact_text {
        //color: red;
    }
    .fa {
        color: white;
        border: 2px solid #90CAF9;
        width: 35px;
        height: 35px;
        border-radius: 50px;
        padding-top: 10px;
    }
    .fa {
        &:hover {
            background-color: $color-main;
        }        
        color: white;
        border: 2px solid #90CAF9;
        width: 35px;
        height: 35px;
        border-radius: 50px;
        padding-top: 10px;
    }
    background-color: $color-main-light;
    position: absolute;
    bottom: -152px;
    left: 0;
    width: 104%;
}

input {
    padding: 5px;
    border-top: 0px;
    border-color: $color-accent2;
    border-right: 0px;
    border-left: 0px;
}

//#PDF
object.projectpdf {
    width: 100%;
    height: 600px;
}

.angularChart {
    width: 100%;
    height: 300px;
}

// BOOTSTRAP ACCORDIONS
.panel-default>.panel-heading {
    background-color: white;
    color: $color-accent2;
}

.contact_text {
    margin-top: 10px;
}
