// #COMPONENTS
// ##NAVIGATION
.navbar {
    background-color: $color-main;
    .navigation {
        color: $white;
        text-decoration: none;
        .nav-link.nav-selected {
            color: $color-accent;
            font-weight: 500;
            text-decoration: none;
        }
        @media only screen and (min-width: $window-md) {
            .nav-pill {
                padding: 15px;
            }
        }
        @media only screen and (max-width: $window-md) {
            .nav-pill {
                padding: 10px;
            }
        }
        .nav-link {
            padding: 5px;
            font-weight: 200;
            font-size: 18;
            text-transform: uppercase;
            text-decoration: none;
        }
        .nav-link:hover {
            font-weight: 200;
            color: $color-accent;
            text-decoration: none;
        }
        .nav-link:visited {
            text-decoration: none;
        }
    }
}
// #CONTENT
// ## LARGE SCREEN
@media only screen and (min-width: $window-md) {
    div.content {
        margin: {
            top: 135px;
        }
    }
}
// ## MEDIUM SCREEN
@media only screen and (min-width: $window-sm) and (max-width: $window-md) {
    div.content {
        margin-top: 50px;
    }
}
// ## SMALL SCREEN
@media only screen and (min-width: $window-sm) and (max-width: $window-md) {
    div.content {
        margin: {
            top: 135px;
        }
    }
}
// ## X-SMALL SCREEN
@media only screen and (min-width: $window-xs) and (max-width: $window-sm) {
    div.content {
        margin: {
            top: 135px;
        }
    }
}
// ##FOOTER
#wrapper {
    padding-bottom: 140px;
    min-height: 86%;
    position: relative;
}
.footer {
    box-shadow: $shadow-top-mid;
    background-color: #64B5F6;
    position: absolute;
    bottom: -17px;
    left: 0;
    width: 104%;
}
// ###HTML CORE ELEMENTS
.angular-blog {
    .blog-search {
        width: 100%;
    }
    .blog-hr {
        width: 100%;
        border: none;
        color: #333;
        background-color: #333;
        height: 3px;
    }
    .blog-metadata, .blog-tags, .blog-link {
        color: $color-accent;
        opacity: 54;
    }
}
.blog-taglist {
    cursor: pointer;
}
input {
    padding: 5px;
    border-top: 0px;
    border-color: $color-accent;
    border-right: 0px;
    border-left: 0px;
}
//#PDF
object.projectpdf {
    width: 100%;
    height: 600px;
}
.angularChart {
    width: 100%;
    height: 300px;
}
// BOOTSTRAP ACCORDIONS
.panel-default>.panel-heading {
    background-color: white;
    color: $color-accent;
}