// #GLOBALS
// ##CORE COLOURS
$color-main: #2196F3;
$color-main-lighter: #90CAF9;
$color-main-light: #64B5F6;
$color-main-light-hover: #8dc9f9;
$color-accent: #F50057;
$color-accent2: #1DE9B6;
// ##UTILITY COLOURS
$white: white;
// ##UTILITY COLOUR
$text-basic: black;
// ##SHADOWS
$shadow-high: 0 2px 2px rgba(0, 0, 0, 0.3);
$shadow-mid: 0 1px 2px rgba(0, 0, 0, 0.16);
$shadow-low: 0 1px 1px rgba(0, 0, 0, 0.05);
$shadow-top-mid: -1px -2px rgba(0, 0, 0, 0.3);
// #VIEWPORT SIZES
$window-xs: 0px;
$window-sm: 768px;
$window-md: 992px;
$window-lg: 1200px;
// #GREY SHADES
$light-grey: #e4e4e4;
$lightest-grey: #f9f9f9;

// #IMPORTS 
@import 'components.scss';
@import 'typography.scss';
@import 'reading.scss';
@import 'portfolio.scss';
@import 'about.scss';
// ## STYLE GUIDE
.background-main {
    background-color: $color-main;
}
.background-main-light {
    background-color: $color-main-light;
}
.background-accent {
    background-color: $color-accent;
}
// ### STYLE GUIDE SHADOWS
.shadow-low {
    box-shadow: $shadow-low;
}
.shadow-mid {
    box-shadow: $shadow-mid;
}
.shadow-high {
    box-shadow: $shadow-high;
}
// ### SHADOW TO TOP
.shadow-top-mid {
    box-shadow: $shadow-top-mid;
}
// DELAYS: ADD TO DIFFERENT FILE
.animated.delay-hs {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.animated.delay-1 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.animated.delay-2 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
.animated.delay-3 {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}
.animated.delay-4 {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}
.animated.delay-5 {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}
.animated.delay-6 {
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
}
.animated.delay-7 {
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
}
.animated.delay-8 {
    -webkit-animation-delay: 8s;
    animation-delay: 8s;
}
