.home-component {
  height: calc(100% - 200px);
  overflow-y: scroll;
  width: 100%; }

.navbar {
  position: relative;
  margin-bottom: -1px;
  background-color: white; }
  .navbar .typeform-share {
    position: absolute;
    right: 20px;
    z-index: 1;
    top: 20px;
    background-color: #F50057;
    color: white;
    padding: 10px 10px 10px;
    border-radius: 3px;
    text-transform: uppercase; }
    .navbar .typeform-share:hover {
      text-decoration: none;
      background-color: #d8004d; }
  .navbar .header_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    margin-bottom: 15px;
    margin-top: 10px; }
  .navbar .website_title {
    letter-spacing: 2px;
    margin-bottom: 0px;
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 1.2em; }
  .navbar .strap_line {
    color: #1DE9B6;
    margin-top: 0px;
    letter-spacing: 3px;
    font-weight: 300;
    font-size: 1em;
    margin-bottom: 15px; }
  .navbar .navigation {
    text-decoration: none; }
    .navbar .navigation .hvr-underline-from-center:before {
      background: #1DE9B6;
      height: 2px; }
    .navbar .navigation .nav-selected.hvr-underline-from-center:before {
      background: white;
      height: 2px; }
    .navbar .navigation .nav-pill {
      letter-spacing: 2px;
      padding-bottom: 10px; }
      .navbar .navigation .nav-pill:hover {
        cursor: pointer; }
        .navbar .navigation .nav-pill:hover a {
          color: #1DE9B6; }
        .navbar .navigation .nav-pill:hover a.nav-link:hover {
          color: #1DE9B6; }
    .navbar .navigation .nav-selected {
      border-bottom-width: 2px;
      border-bottom-color: #1DE9B6;
      border-bottom-style: solid;
      height: 30px; }
      .navbar .navigation .nav-selected a {
        color: #1DE9B6; }
    .navbar .navigation .nav-selected > a {
      color: #1DE9B6; }
    .navbar .navigation .nav-selected > a:hover {
      color: #1DE9B6; }
    .navbar .navigation .nav-link {
      padding: 10px 5px 5px 5px;
      font-weight: 400;
      font-size: 14;
      text-transform: uppercase;
      text-decoration: none; }
    .navbar .navigation .nav-link:visited {
      text-decoration: none; }

#wrapper {
  min-height: 86%;
  position: relative; }

.footer {
  background-color: #fff;
  color: #2196F3;
  border-top: 1px solid #cecece;
  position: absolute;
  left: 0;
  width: 104%; }
  .footer .fa {
    border: 2px solid #90CAF9;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    padding-top: 10px; }
  .footer .fa {
    border: 2px solid #90CAF9;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    padding-top: 10px; }

input {
  padding: 5px;
  border-top: 0px;
  border-color: #1DE9B6;
  border-right: 0px;
  border-left: 0px; }

object.projectpdf {
  width: 100%;
  height: 600px; }

.angularChart {
  width: 100%;
  height: 300px; }

.panel-default > .panel-heading {
  background-color: white;
  color: #1DE9B6; }

.contact_text {
  margin-top: 10px; }

.image-full-width {
  display: inline-block;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px; }
  .image-full-width.bench {
    background-image: url("../../img/personal/bench_bw.jpg");
    height: calc(100vh - 300px);
    background-position-y: -218px;
    background-position-x: -200px; }
  .image-full-width.waterski {
    background-image: url("../../img/personal/wakejump.jpg");
    height: calc(100vh - 300px);
    background-size: cover; }
  .image-full-width.code {
    background-position-y: -50px;
    background-image: url("../../img/personal/code.png");
    height: calc(100vh - 300px);
    background-size: cover; }
  .image-full-width.laptop {
    height: 500px;
    background-image: url("../../img/ljb_laptop_thin.jpg");
    background-size: cover;
    background-repeat: no-repeat; }

body {
  font-family: 'Roboto', sans-serif; }

h1, h2, h3, h4, h5, h6, li {
  font-weight: 300; }

h2 {
  text-transform: uppercase;
  font-weight: 400; }

p {
  font-weight: 300; }

p.note {
  opacity: 0.54; }

.text-white {
  color: white; }

.accent {
  color: #F50057; }

.subheading {
  color: #F50057;
  font-size: 1.2em;
  margin-top: -10px; }

.books {
  height: 25em; }

.portfolio_page {
  margin-top: 50px; }
  .portfolio_page .left_nav.affix {
    top: 30px;
    margin-bottom: 250px; }
  .portfolio_page .left_nav .section_header {
    color: #64B5F6; }
  .portfolio_page .left_nav .sub_section {
    margin: 0px 20px 0px 0px;
    padding: 5px 5px 5px 20px;
    cursor: pointer; }
    .portfolio_page .left_nav .sub_section.active {
      border-right: 1px solid #F50057;
      background-color: #f9f9f9; }
    .portfolio_page .left_nav .sub_section:hover {
      background-color: #f9f9f9; }
    .portfolio_page .left_nav .sub_section > a {
      padding-left: 20px;
      color: black;
      border-left: 1px solid transparent; }
    .portfolio_page .left_nav .sub_section > a:hover {
      text-decoration: none; }
  .portfolio_page .projects .content_panel {
    cursor: pointer;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: -1px; }
    .portfolio_page .projects .content_panel .project_title {
      margin: 0px 0px 5px 0px; }
    .portfolio_page .projects .content_panel .project_description {
      margin-bottom: 25px;
      opacity: 0.75; }
    .portfolio_page .projects .content_panel:hover {
      background-color: #f9f9f9; }
    .portfolio_page .projects .content_panel .tags {
      margin-top: 25px; }
      .portfolio_page .projects .content_panel .tags .tag {
        margin-right: 20px;
        color: #F50057;
        font-weight: 400; }

.about-page .image-full-width {
  display: inline-block;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px; }
  .about-page .image-full-width.bench {
    background-image: url("../../img/personal/bench_bw.jpg");
    height: calc(100vh - 300px);
    background-position-y: -218px;
    background-position-x: -200px; }
  .about-page .image-full-width.waterski {
    background-image: url("../../img/personal/wakejump.jpg");
    height: calc(100vh - 300px);
    background-size: cover; }
  .about-page .image-full-width.code {
    background-position-y: -50px;
    background-image: url("../../img/personal/code.png");
    height: calc(100vh - 300px);
    background-size: cover; }

.background-main {
  background-color: #2196F3; }

.background-main-light {
  background-color: #64B5F6; }

.background-accent {
  background-color: #F50057; }

.shadow-low {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }

.shadow-mid {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16); }

.shadow-high {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); }

.shadow-top-mid {
  box-shadow: -1px -2px rgba(0, 0, 0, 0.3); }

.animated.delay-hs {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

.animated.delay-1 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

.animated.delay-2 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

.animated.delay-3 {
  -webkit-animation-delay: 3s;
  animation-delay: 3s; }

.animated.delay-4 {
  -webkit-animation-delay: 4s;
  animation-delay: 4s; }

.animated.delay-5 {
  -webkit-animation-delay: 5s;
  animation-delay: 5s; }

.animated.delay-6 {
  -webkit-animation-delay: 6s;
  animation-delay: 6s; }

.animated.delay-7 {
  -webkit-animation-delay: 7s;
  animation-delay: 7s; }

.animated.delay-8 {
  -webkit-animation-delay: 8s;
  animation-delay: 8s; }

/*# sourceMappingURL=core.css.map */
