
// #GLOBALS
// ##CORE COLOURS
$color-main: #2196F3;
$color-main-light: #64B5F6;
$color-accent: #F06292;
// ##UTILITY COLOURS
$white: white;
// ##SHADOWS
$shadow-high: 0 2px 2px rgba(0, 0, 0, 0.3);
$shadow-mid: 0 1px 2px rgba(0, 0, 0, 0.16);
$shadow-low: 0 1px 1px rgba(0, 0, 0, 0.05);
$shadow-top-mid: -1px -2px rgba(0, 0, 0, 0.3);
// #IMPORTS

@import 'components.scss';
@import 'typography.scss';

.background-main {
    background-color: $color-main;
}
.background-main-light {
    background-color: $color-main-light;
}
.background-accent {
    background-color: $color-accent;
}

// ### REGULAR
.shadow-low {
    box-shadow: $shadow-low;
}
.shadow-mid {
    box-shadow: $shadow-mid;
}
.shadow-high {
    box-shadow: $shadow-high;
}
// ### SHADOW TO TOP
.shadow-top-mid {
    box-shadow: $shadow-top-mid;
}