.portfolio_page {
    margin-top: 50px;
    .left_nav {
        &.affix {
            top: 30px;
            margin-bottom: 250px;
        }
        .section_header {
            color: $color-main-light;
        }
        .sub_section {
            margin: 0px 20px 0px 0px;
            padding: 5px 5px 5px 20px;
            cursor: pointer;
            &.active{
                border-right: 1px solid $color-accent;
                background-color: $lightest-grey;
            }
            &:hover  {
                background-color: $lightest-grey;   
            }
            & > a {
                padding-left: 20px;
                color: $text-basic;
                border-left: 1px solid transparent;
            }
            & > a:hover {
                text-decoration: none;
            }
        }
    }
    .projects {
        .content_panel {
            cursor: pointer;
            padding: 50px 0px 50px 0px;
            border-bottom: 1px solid $light-grey;
            border-top: 1px solid $light-grey;
            margin-bottom: -1px;
            .project_title {
                text-transform: uppercase;
                font-weight: 400;
                margin: 0px 0px 5px 0px;
            }
            .project_description  {
                margin-bottom: 25px;
                opacity: 0.75;
            }
            &:hover {
                background-color: $lightest-grey;
            }
            .tags {
                margin-top: 25px;
                .tag {
                    margin-right: 20px;
                    color: $color-accent;
                    font-weight: 400;
                }
            }
        }
    }
}
