// #TYPOGRAPHY
body {
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6, li {
    font-weight: 300;
}
h2 {
   text-transform: uppercase;
    font-weight: 400;
}
p {
    font-weight: 300;
}
p.note {
    opacity: 0.54;
}
// ##HELPER CLASSES
.text-white {
    color: $white;
}
.accent {
    color: $color-accent;
}
.subheading {
    color: $color-accent;
    font-size: 1.2em;   
    margin-top: -10px;
}