<h1>About me</h1>

<p> Hello, thankyou for taking the time out to check out my portfolio </p>

<p> My name is Louis John Bichard and I am a full stack web developer who specialises in JavaScript. </p>

<hr>
<div class="row">
    <div class="col-md-12">
        <h3> Powerlifting &amp; Weightlifting </h3>
        <div class="row">
            <div class="col-md-6">
                <p> Description goes here </p>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 pull-right">
                        <img class="img-responsive" src="../img/personal/squatbw.jpg">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6 pull-right">
                        <img class="img-responsive" src="../img/personal/deadlift2.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <h3> Snow and watersports </h3>
        <div class="row">
            <div class="col-md-6">
                <p> Description goes here </p>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 pull-right">
                        <img class="img-responsive" src="../img/personal/ski.jpg">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6 pull-right">
                        <img class="img-responsive" src="../img/personal/wakeboard.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>