<div class="row">
    <div class="col-md-2 col-md-offset-5">
        <h2 class="text-center">About me</h2>
        <img class="shadow-mid img-responsive" src="../img/personal/louheadshot.jpeg">
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-8 col-md-offset-2">        
        <p class="text-center">Hey! My name is Lou, I'm a software engineer </p>
        <p class="text-center"> Most recently I've been writing Javascript and SPA applications. </p>
        <p class="text-center"> Since the rest of my site is career based, here's a little insight into my personal life. </p>
        <br>
        <h4 class="text-center accent"><strong>Strength sports</strong></h4>
        <p class="text-center"> When I'm not programming, I like to use strength sports as a way to wind down. I've been involved in strength sports for nearly 3 years after first getting involved in the gym I started to seek new nuances to my training and ways to push myself. It was a natural transition to start competing, as a naturally (self) competitive person.  Just as I take a holistic approach with my work I like to do the same with my personal life.  </p>
        <br>
        <div class="row">
            <div class="col-md-3">
                <img class="img-responsive" src="../img/personal/clean.jpg">
            </div>
            <div class="col-md-3">
                <img class="img-responsive" src="../img/personal/squatbw.jpg">
            </div>
            <div class="col-md-3">
                <img class="img-responsive" src="../img/personal/bench.jpg">
            </div>
            <div class="col-md-3">
                <img class="img-responsive" src="../img/personal/deadlift2.jpg">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <h4 class="text-center accent"><strong>Watersports / Snowsports</strong></h4>
                <p class="text-center"> This one is simple, it's ineffable. There is no greater feeling then being out on a lake on a misty morning with the wakeboard, or clipping into your ski bindings at the top of a run. </p>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <img class="img-responsive img-circle" src="../img/personal/ski.jpg">
                    </div>
                    <div class="col-md-6">
                        <img class="img-responsive img-circle" src="../img/personal/wakeboard.jpg">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4 class="text-center accent"><strong>Music</strong></h4>
                <p class="text-center"> Anything with a good beat appeals to me, I've been playing music since I was 8 and I jump at any opportunity to see live music, of any kind! </p>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <img class="img-responsive img-circle" src="../img/personal/bass.jpg">
                    </div>
                    <div class="col-md-6">
                        <img class="img-responsive img-circle" src="../img/personal/stage.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
