<h1 class="text-center animated fadeInDown">About me</h1>
<div class="row animated fadeInRight">
    <div class="col-md-2 col-sm-3 col-xs-3">
        <img class="shadow-mid img-responsive" src="../img/personal/louheadshot.jpeg">
    </div>
    <div class="col-md-8">
        <h2> First things first </h2>
        <p> Thankyou for taking the time out to visit my portfolio! </p>
        <h2>A little about me</h2>
        <p> My name is Louis John Bichard and I am a full stack software engineer</p>
        <p> My biggest passion is for solving problems, that has mainly taken the form of using web technologies. </p>
        <br>
    </div>
</div>
<hr>
<div class="row animated fadeInLeft">
    <div class="col-md-12">
        <h2>What makes me different?</h2>
        <p>I've always wanted from the day I got introduced to software to be different to other engineers.</p>
        <p> One way that I see most engineers fall down, is their reluctance to try to really understand the problems that they are solving.</p>
        <p>In order to truly solve a problem, you must dive into the area, speak face to face with clients, stakeholders and understand their pattern of working, from here you have a solid base by which to implement effective solutions. </p>
        <p>It is this "awareness" that I bring to my work that makes me different from many sofware engineers</p>
        <br>
    </div>
</div>
<hr>
<div class="row animated fadeInRight">
    <div class="col-md-12">
        <h2>Performance, process and efficiency</h2>
        <p>I am extremely passionate about performance of all kinds, I enjoy testing myself across many different areas, not just in my career</p>
        <p>My favourite outlets for these focuses on performance is weight training, sports and music </p>
        <br>
        <h3> Powerlifting &amp; Weightlifting </h3>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <p> I trained mainly for the curiosity and to build strength for Rugby whilst my brother was training for his entry to the military. In the beginning we had a lot of fun just trying all the exercises we could online, every routine we saw in a magazine, or online we would try. </p>
                <p> It obviously wasn't long before our competitive natures came out and we would be looking to beat each other at each and every step. In a blink of an eye I was addicted, I think initially just by learning something new and the curiosity. </p>
                <p> Weight training soon became a lot more to me than just a hobby. I started exploring what makes the complete athlete, and to get the edge I started spending a lot more time on other areas, such as my nutrition and recovery. I soon started seeing that I was taking this a lot more seriously than those around me; but I was progressing far faster than them. This was my first realisation that whilst I wasn't super talented, talent sure did beat hard work when talent didn't work hard. </p>
                <p> As time went on I started pursuing other avenues to keep my interest and motivation up which is when I entered the Powerlifting community. I begun competing competitively in the 2013 as a Junior (&lt; 23's) in the Great British Powerlifting Federation, taking second in the 2013 All England qualifying and competing at nationals. </p>
                <p> Due to the exposure to excellent coaching in Loughborough and my inquisiton I have recently taken on olympic weightlifting also. In 6 weeks achieving being only 35kg from the national qualifying total and it would be an honour to compete nationally. Olympic weightlifting forced me to really up my game and I am relishing the challenge. </p>
                <p> Training keeps me disciplined, motivated and acts as a source of inspiration for my blog posts and my current e-book, The Brogrammer that I've recently migrated to this domain. </p>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="row">
                    <div class="col-md-6">
                        <img class="img-responsive" src="../img/personal/clean.jpg">
                    </div>
                    <div class="col-md-6">
                        <img class="img-responsive" src="../img/personal/squatbw.jpg">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <img class="img-responsive" src="../img/personal/bench.jpg">
                    </div>
                    <div class="col-md-6">
                        <img class="img-responsive" src="../img/personal/deadlift2.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row ">
    <div class="col-md-6 col-sm-6 animated fadeInLeft">
        <h3> Snow and watersports </h3>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <p>I was introduced to wakeboard firstly when I worked as a lifeguard at Camp Kingswood. Whilst I spent a little time on the board, I saw how quickly some of my colleagues were progressing and wanted in. When I was back for my second year I spent a lot more time on the board and this continued into my third year as the Waterfront Director. From then, any chance, cable or boat I jump at the chance to get back on the board!</p>
            </div>
        </div>
        <div class="row">
        </div>
    </div>
    <div class="col-md-6 col-sm-6 animated fadeInRight">
        <h3> Guitar &amp; music  </h3>
        <div class="row">
            <div class="col-sm-12">
                <p> At age 10 I got my first guitar from a friends dad who tried to learn at some point in his life, before casting the guitar to a dark corner of his loft. I took this from him and would play the riffs that my dad played to me in the car, it was mainly 80's rock and my first songs were the likes of Van Halen, Hendrix, Deep purple! From then I've played live in bands, taught and played for personal satisfaction and relaxation! </p>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row animated fadeInUp">
    <div class="col-md-3 col-sm-3 col-xs-3">
        <img class="img-responsive img-circle" src="../img/personal/ski.jpg">
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3">
        <img class="img-responsive img-circle" src="../img/personal/wakeboard.jpg">
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3">
        <img class="img-responsive img-circle" src="../img/personal/bass.jpg">
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3">
        <img class="img-responsive img-circle" src="../img/personal/stage.jpg">
    </div>
</div>
