<div class="row">
    <div class="col-sm-9 col-xs-9 col-lg-9 col-md-9">
        <blog class="animated fadeInUp" share-url="url" posts="posts" search="{{searchText}}"></blog>
    </div>
    <div class="col-md-2 col-sm-2 col-lg-2 col-xs-2 text-center">
        <h3> By Date </h3>
        <accordion>
            <accordion-group heading="{{blogs.date}}" ng-repeat="blogs in dates">
                    <p class="blog-taglist" ng-class="{'accent': searchText === blog.title}" ng-click="addTagToSearch(blog.title)" ng-repeat="blog in blogs.values"> {{blog.title}}</p>
            </accordion-group>
        </accordion>
        <h3> Tags </h3>
        <p class="blog-taglist" ng-class="{'accent': searchText === tag.name}" ng-click="addTagToSearch(tag.name)" ng-repeat='tag in tags'>{{tag.name}}&nbsp; ({{tag.count}})</p>
    </div>
</div>