<!-- #LEAD TEXT -->

<div class="row">
    <div class="col-md-2 col-md-offset-5">
        <img class="shadow-high img-responsive img-circle" src="../img/personal/lou.jpg">
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">
        <h1>LOUIS JOHN BICHARD</h1>
        <h4>INQUISITION DRIVES MY PASSION FOR CREATING &amp; LEARNING</h4>
        <h4>IMMERSING MYSELF IN THE COMMUNITY, CONTINUALLY WRITING CODE </h4>
        <h4>I AM A FULL STACK WEB DEVELOPER</h4>
    </div>
</div>

<!-- TODO: DELETE ME -->
<br>
<br>
<br>

<!-- #WHO I AM AND WHAT I DO -->
<div class="row text-center">
    <div class="col-md-3 col-md-offset-3">
        <h1> Who I am </h1>
        <p>Hi! I am Louis John Bichard, a web developer and learning enthusiast.</p>
        <p> I am a full stack developer with a soft side for writing fluent, testable JavaScript.</p>
    </div>
    <div class="col-md-3">
        <h1> What I do </h1>
        <p>I am currently reading my final year of Information Mangement &amp; Computing at Loughborough University completing a final year project MEAN stack dashboard application for Survivors United</p>
    </div>
</div>

<!-- TODO: DELETE ME -->
<br>
<br>
<br>