<div class="container">
    <!-- #LEAD TEXT -->
    <br>
    <br>
    <div class="animated fadeInDown row">
        <div class="col-md-2 col-md-offset-5 col-sm-3 col-sm-offset-4 col-xs-3 col-xs-offset-4">
            <img class="shadow-mid img-responsive img-circle" src="../img/personal/louheadshot.jpeg">
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <br>
            <br>
            <div class="animated slideInUp">
                <h4 class="animated fadeIn ">INQUISITION DRIVES MY PASSION FOR CREATING &amp; LEARNING</h4>
                <h4 class="animated fadeIn delay-1">SOLVING REAL PROBLEMS BY EFFICIENTLY WRITING CODE</h4>
                <h4 class="animated fadeIn delay-2">I AM A FULL STACK SOFTWARE ENGINEER</h4>
            </div>
        </div>
    </div>

    <br>
    <br>

    <!-- #WHO I AM AND WHAT I DO -->
    <div class="row text-center">
        <div class="col-md-4 col-sm-5 col-sm-offset-1 col-md-offset-2 col-xs-6 col-lg-3 col-lg-offset-3  animated fadeInLeft delay-3">
            <h1> Who I am </h1>
            <p>I'm a born and bred problem solver. </p>
            <p>I am enabled to do this though a natural ability to critically analyse myself, processes, products,  software architectures etc.</p>       
        </div>
        <div class="col-md-4 col-sm-5 col-xs-6 col-lg-3  animated fadeInRight delay-3">
            <h1> What I do </h1>
            <p>I work with stakeholders, write code, design interfaces, implement and update processs, and continually learn in order to deliver good products.</p>
            <p>Currently working as a full stack developer for <a href="http://mudano.com">Mudano</a>. </p>
        </div>
    </div>
</div>