<!-- #LEAD TEXT -->

<div class="row">
    <div class="col-md-2 col-md-offset-5">
        <img class="shadow-high img-responsive img-circle" src="../img/personal/lou.jpg">
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
        <h1>LOUIS JOHN BICHARD</h1>
        <h4>INQUISITION DRIVES MY PASSION FOR CREATING &amp; LEARNING</h4>
        <h4>IMMERSING MYSELF IN THE COMMUNITY, CONTINUALLY WRITING CODE </h4>
        <h4>I AM A FULL STACK WEB DEVELOPER</h4>
    </div>
</div>

<!-- TODO: DELETE ME -->
<br>
<br>
<br>

<!-- #WHO I AM AND WHAT I DO -->
<div class="row text-center">
    <div class="col-md-3 col-md-offset-3">
        <h1> Who I am </h1>
        <p>Hi! I am Louis John Bichard, a web developer and learning enthusiast.</p>
        <p> I am a full stack developer with a soft side for writing fluent, testable JavaScript.</p>
    </div>
    <div class="col-md-3">
        <h1> What I do </h1>
        <p>I am currently reading my final year of Information Mangement &amp; Computing at Loughborough University completing a final year project MEAN stack dashboard application for Survivors United</p>
    </div>
</div>

<!-- TODO: DELETE ME -->
<br>
<br>
<br>

<h1 class="text-center"> Portfolio </h1>

<hr>

<!-- TODO: DELETE ME -->

<!-- #DESIGN PROJECTS -->
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                <h1> Development </h1>
            </div>
            <div class="col-md-3 col-md-offset-3">
                <!-- ##PROJECTS -->

                <!-- ### SURVIVORS UNITED -->
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-center"> Survivors United </h4>
                        <div class="row">
                            <div class="col-md-12">
                                <img class="img-responsive" src="../img/projects/final_year_project/coffeehouse_laptop.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p> Survivors United is a full Javascript application stack </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-center"> Team projects </h4>
                        <div class="row">
                            <div class="col-md-12">
                                <img class="img-responsive" src="../img/projects/final_year_project/close_up.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p> University module group task LAMP stack timetabling dashboard application </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>
<!-- TODO: DELETE ME -->

<!-- #DEVELOPMENT PROJECTS -->
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                <h1> Design </h1>
            </div>
            <div class="col-md-3 col-md-offset-3">
                <!-- ##PROJECTS -->

                <!-- ### SURVIVORS UNITED -->
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-center"> Survivors United Designs </h4>
                        <div class="row">
                            <div class="col-md-12">
                                <img class="img-responsive" src="../img/projects/final_year_project/close_up.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p> Survivors United is a full Javascript application stack </p>
                    </div>
                </div>

                <!-- ### SURVIVORS UNITED -->
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-center"> Facebook redesign </h4>
                        <div class="row">
                            <div class="col-md-12">
                                <img class="img-responsive" src="http://i2.mirror.co.uk/incoming/article676858.ece/alternates/s2197/Topic%20-%20Facebook">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p> A live preview of a redesigned facebook design </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>
<!-- TODO: DELETE ME -->

<!-- #PLUGINS -->
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                <h1> Plugins </h1>
            </div>
            <div class="col-md-3 col-md-offset-3">
                <!-- ##PROJECTS -->

                <!-- ### ANGULAR-PROGRESS BAR -->
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-center"> Angular progress bar </h4>
                        <div class="row">
                            <div class="col-md-12">
                                <img class="img-responsive" src="../img/projects/angular-percentagebar/percentagebar1.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p> Angular-progress bar is a directive based plugin for simple and elegant progress bars with a material design twist </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>
<!-- TODO: AUTHORED WORK -->

<!-- #PLUGINS -->
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                <h1> Authored </h1>
            </div>
            <div class="col-md-3 col-md-offset-3">
                <!-- ##PROJECTS -->

                <!-- ### ANGULAR-PROGRESS BAR -->
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-center"> The Brogrammer </h4>
                        <div class="row">
                            <div class="col-md-12">
                                <img class="img-responsive" src="../img/projects/brogrammer/brogrammericon.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p> An online series of blog posts that exemplify successful traits in projects and in life, exemplified through the use of weightlifting and programming </p>
                        <p> To be compiled into an ebook </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
