<div class="row">
    <div ng-repeat="book in [
'7habits.jpg ', 
'amazonroute53.jpg ',
'chimp.jpg ',
'cleancode.jpg ',
'ec2.jpg ',
'functionaljavascript.jpg ',
'growthengines.jpg ',
'howgoogleworks.jpg ',
'javascriptninja.jpg ',
'javascripttestingwithjasmine.jpg ',
'javascriptthegoodparts.gif ',
'javascriptthegoodparts.png ',
'leanstartup.jpg ',
'learnyouahaskell.jpg ',
'meteor.jpg ',
'node.jpg ',
'nodebeginner.jpg ',
'passionateprogrammer.jpg ',
'pragmaticthinkingandlearning.jpg ',
'scrum.jpg ',
'sevenlanguages.jpg ',
'testablejavascript.jpg ',
'typescript.jpg ',
'upandgoing.jpg ',
'whatisdevops.jpg ']">
        <div class="col-md-4">
            <img class="books" src="/img/projects/reading/{{book}}">
        </div>
    </div>
</div>
