<div class="row">
    <div class="col-md-8 col-md-offset-2">

        <h2>Main skills</h2>        

        <p>A straightforward list of technologies I'm familiar with and enjoy working with.</p>

        <br>
        <p><strong>Javascript</strong></p>
        <p><strong>NodeJS</strong> 3 years of working experience with nodeJS, creating everything from API integrations to (basic) REST architecture. </p>
        <p><strong>Agile</strong> I'm a strong advocate of the Agile principles and I've worked on strategies for implementing the core 12 principles. </p>
        <p><strong>SQL</strong> I've worked with MySQL and Postgres, database understanding is fundamental. </p>
        <p><strong>Mongo</strong> My dissertation was built on MEAN stack with Mongo. </p>
        <p><strong>Angular</strong> I have worked on angular 1.x for 2 years, building a full end to end application for my dissertation, and also on a larger scale. </p>
        <p><strong>HTML/CSS</strong> This one goes without saying for a web software engineer. </p>
        <p><strong>CSS precompiles (SASS / LESS)</strong> My favourite is Sass</p>
        <p><strong>Angular</strong> I love working with Angular, I'm very excited to dive into Angular 2. I've built small personal projects and large applications on angular. This site is built on Angular, feel free to have a poke at the <a href="https://github.com/louisbichard/louisjohnbichard">source code</a>. </p>

        <h2>Secondary skills</h2>
        <p><strong>JIRA</strong></p>
        <p><strong>Amazon Web Services</strong></p>
    </div>
</div>