<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <br>
            <br>
            <br>
            <h2 class="text-center">Skills</h2>
            <p class="text-center">The tools I use to help business make remarkable products.</p>
            <hr>
            <br>
            <h3>Education</h3>
            <br>
            <p><strong>Loughborough University</strong> Information Management &amp; Computing (BSc): First Class </p>
            <br>
            <br>
            <h3>Languages</h3>
            <br>
            <p><strong>Javascript</strong> 5 years of experience writing JS, I love the community, the tooling and the pace of its development. </p>
            <p><strong>HTML/CSS</strong> This one goes without saying for a web software engineer. </p>
            <p><strong>CSS precompiles (SASS / LESS)</strong> My favourite is Sass.</p>
            <p><strong>Coffeescript</strong> The simplicity of coffee is extremely elegant, however ES6 is making it slightly redundant!</p>
            <p><strong>SQL</strong> I've worked with MySQL and Postgres; database understanding is fundamental. </p>
            <p><strong>Mongo</strong> My dissertation was built on MEAN stack with Mongo. </p>
            <p><strong>PHP</strong> For server side rendering: Used in university submissions and in professsional capacity </p>
            <p><strong>JSON</strong> For data storage, I have used with REST and Mongo heavily </p>
            <br>
            <br>
            <h3>Libraries</h3>
            <br>
            <p><strong>Lodash</strong> My favourite utility belt framework. </p>
            <p><strong>JQuery</strong> I've built apps without frameworks just using JQuery. </p>
            <p><strong>NodeJS</strong> 3 years of working experience with nodeJS, creating everything from API integrations to (basic) REST architecture. </p>
            <p><strong>Angular</strong> I have worked on angular 1.x for 2 years, building a full end to end application for my dissertation, and also on a larger scale. I'm very excited to dive into Angular 2. I've built small personal projects and large applications on angular. This site is built on Angular, feel free to have a poke at the <a href="https://github.com/louisbichard/louisjohnbichard">source code</a>.</p>
            <br>
            <br>
            <h3>Tooling</h3>
            <br>
            <p><strong>Atlassian / JIRA</strong> Using it's bug tracking, testing and continuous integration tooling</p>
            <p><strong>Amazon Web Services</strong> This website is hosted on cloudfront and S3 and I have experience setting up application servers / networks.</p>
            <p><strong>Github</strong> I've been using github for years and I love it, I'm very comfortable working in Git, and dealing with it's problems when it occassionally falls over. </p>
            <p><strong>Testlodge</strong> For writing and executing test cases and runs. </p>
            <br>
            <br>
            <h3>Theory / Concepts</h3>
            <br>
            <p><strong>Agile</strong> I'm a strong advocate of the Agile principles and I've worked on strategies for implementing the core 12 principles in practice and have some very effective strategies for building "agile" applications that are responsive and flexible to change. </p>
            <p><strong>Lean start up</strong> The principles of hypothesis testing are fundamental in my eyes for an organisation with extreme uncertainty. </p>
            <p><strong>Scrum / Sprint</strong> I'm very familiar with the scrum format, I believe heavily in self organised teams and I love this method of working, I've even used it with great success on non software related projects.</p>
            <p><strong>Distributed working</strong> I've worked with engineers in Belarus, Brazil &amp; Poland on a daily basis, and I'm very familiar with the difficulties that come with this. </p>
            <p><strong>Data visualisation</strong> Creating and building charts / images that represent and derive insights from datasets. </p>
            <p><strong>SPA</strong> This has become very commonplace, but building client heavy applications is something I've been doing for years. </p>
            <p><strong>REST</strong> Leverage of the protocol for clean implementation of web API's </p>
        </div>
    </div>
</div>
