<h1>Absenteeism Booking</h1>

<p class="lead"> Angular demo application </p>
<p>A demo piece created in a short time frame for part of a recruitment process. Objectives were largely centered around interface concepts. </p>
<p> Built to the specification of the organisation with their current technology stack.</p>

<hr>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h2> Technologies </h2>
                <ul>
                    <li>Angular</li>
                    <li>SASS</li>
                    <li>FullCalendar</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-12">
        <h2> First deliverable </h2>
        <p>
            <a href="http://louisbichard.github.io/absenteeism_booking">Live demo</a>
        </p>
        <p>
            <a href="http://github.com/louisbichard/absenteeism_booking">Github</a>
        </p>

        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="../../img/projects/absenteeism_booking/system1.png">
            </div>
            <div class="col-md-6">
                <h4>Features</h4>
                <ul>
                    <li>Booking via calendar</li>
                    <li>Booking across different types (colour coded)</li>
                    <li>Clashing algorithm created to highlight clashes and prompt user when entering a clash</li>
                    <li>Filtration based on users, types and time of booking</li>
                    <li>Mocked authentication for booking as different users</li>
                    <li>Mocked API requests logged for all bookings made and deleted</li>
                    <li>Minimal click interface</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2> Second deliverable </h2>
        <p>
            <a href="http://louisbichard.github.io/absenteeism_booking_2">Live demo</a>
        </p>
        <p>
            <a href="http://github.com/louisbichard/absenteeism_booking_2">Github</a>
        </p>
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="../../img/projects/absenteeism_booking/system2.png">
            </div>
            <div class="col-md-6">
                <h4>Features</h4>
                <ul>
                    <li>Extended to include block booking with minimal clicks</li>
                    <li>Advanced filters for stored filter </li>
                    <li>Form creating views for specific questions such as number of absent employees on a certain date</li>
                    <li>Less intrusive clash booking viewing (presented via red markers on interface)</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-md-12">
        <h2>Features</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h4>Making booking</h4>
    </div>
    <div class="col-md-6">
        <img class="img-responsive" src="../../img/projects/absenteeism_booking/makingbooking.gif">
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-6">
        <h4>Creating filters</h4>
    </div>
    <div class="col-md-6">
        <img class="img-responsive" src="../../img/projects/absenteeism_booking/creatingfilter.gif">
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-6">
        <h4>Viewing filters on the calendar</h4>
    </div>
    <div class="col-md-6">
        <img class="img-responsive" src="../../img/projects/absenteeism_booking/filters.gif">
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-6">
        <h4>Advanced filtration</h4>
    </div>
    <div class="col-md-6">
        <img class="img-responsive" src="../../img/projects/absenteeism_booking/advancedfiltration.gif">
    </div>
</div>