<br>
<br>
<br>
<div class="container">
    <h1>Angular blog</h1>
    <p class="lead"> Angular blog is a angular directive plugin for a simple blog feed based on local markdown files without the use of a server </p>
    <h2> Features </h2>
    <ul>
        <li>Markdown parsing via showdown.js</li>
        <li>No need for a server</li>
        <li>Full text search</li>
    </ul>
    <h2> Demo </h2>
    <a href="http://louisbichard.github.io/angular-blog/"> Click here for the live demo </a>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <img class="img-responsive" src="../img/projects/angular-blog/angular-blog.png">
        </div>
    </div>
</div>
