<h1>The brogrammer</h1>

<p class="lead"> A multipart series of blog posts to be compiled into an ebook disscussing success skill traits and similarities between weightlifters and programmers</p>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <img class="img-responsive" src="../../img/projects/brogrammer/brogrammericon.png" alt="">
    </div>
</div>


<!-- <p> The Brogrammer is a multipart series of blog posts that I am in the midst of that exemplify skill success traits in programming and weightlifting. In each blog post an attribute of a successful method or tool is disseminated in order to provide analysis and insight in how to achieve success, understand it and repeat it.</p> 
 -->