<h1>Flovigo</h1>
<p>A prototype life personalisation app</p>
<div class="row">
    <div class="col-md-12">
        <p>
            <a href="http://louisbichard.github.io/flovigo/">Live demo</a>
            
        </p>
        <p>
            <a href="https://github.com/louisbichard/flovigo">Github</a>
        </p>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h2> Technologies </h2>
                <ul>
                    <li>Javascript</li>
                    <li>CSS</li>
                    <li>SASS</li>
                    <li>Angular</li>
                    <li>Media Queries</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-12">
        <img class="img-responsive" src="../../img/projects/flovigo/flovigo.png" height="960" width="1913">
    </div>
</div>

<br>

<h2> Vision doc </h2>

<object class="projectpdf" data="../../img/projects/flovigo/visiondocpdf.pdf" type="application/pdf">
    <p>
        It appears you don't have a PDF plugin for this browser. You can <a href="myfile.pdf">click here to download the PDF file.</a>
    </p>
</object>