<br>
<br>
<br>
<div class="container">
    <h1> Foursquare demo </h1>
    <p> A demo app using the foursquare API </p>

    <!-- Reiterate the requirements specification and refer back to it -->

    <hr>

    <h2>Overview</h2>

    <p>This was a challenging piece, really testing my design eye, ability to sketch, code and build!</p>
    <p>Time pressures made it particularly enjoyable as I tested myself to not try and be too "perfectionist" and to prize getting the feature complete, as the agile methodology promotes.</p>
    <p>It's always nice to do a full end to end design and build as I notice that I'm often a lot more efficient and comfortable with what the steps are that I want to take and what it takes to build a really strong product.</p>
    <!-- Talk about what it was, how you did each step, what and why you did them that way -->
    <!-- What I liked about the process, getting to do design / UX / Thinking about users / journeys -->
    
    <hr>

    <h2>Requirements</h2>    
    <p>Below are my rewriting of the requirements as they were delivered to me</p>
    <p>I believe the process of disecting the requirements given to you is extremely important as it helps you to recommunicate back to the requirements owner that you have really understood their requirements. </p>
    <h3>The requirements </h3>
    <p>These requirements will be referred back to throughout this document to show how each one was considered and thought about in the process of creating this app.</p>
    <p>This will be denoted with an accented number in square brackets like so: <span class="accent"> a delightful UI! [2]</span></p>
    <ol>
        <li>Display autonomy</li>
        <li>Delightful</li>
        <!-- You should summarise what you mean by this -->
        <li>Foursquare API: Search for a place by name &amp; return recommended / popular venues near that location </li>
        <li>Displaying of the results / the interface</li>
        <li>Use any language, platform, framework or libraries you think will get the job done.</li>
        <li>Use agile coding principles</li>
        <li>Development best practices</li>
        <li>Use a build tool to build the code or fetch dependencies</li>
        <!-- Use uglify / minify / concat the codebase -->
        <li>Use a test runner to run the tests.</li>
        <!-- Test runner -->
        <!-- Maybe don't do this, but explain how you would do it? -->
        <li>Create a deployable artifact or deploy within a container.</li>
        <!-- Deploy onto github pages? -->
    </ol>


    <hr>
    <h2>Approach</h2>
    
    <!-- Talk about how you planned, what you did in the planning phase etc -->
    <!-- Did this to re-iterate the design back to those who created it, since it's not iterative this would have been communicated back to the client -->
        <!-- With technical tasks always best to reiterate back to the requirements owner in your own words what you think you're building -->
        <!-- Talk about the *why* you did everything that you did -->

    <h3>Lean methodology</h3>
    <p>Started with sketching designs, moved to wireframes then moved to full build </p>
    <p>Taking an <span class="accent">agile approach [6]</span> and by doing these sketches / UI designs can avoid wasting time on a costly build, being patient in design pays off later. </p>
        <!-- Talk about throw way  -->
    <h3>Process</h3>
    <p>The steps I took into creating a full product</p>
    <br>
    <ol>
        <li>Requirements dissemination</li>
        <!-- Removed all the verabage -->
        <!-- De-ambigious the wording, make it more clear and explicit -->
        
        <li>Created a backlog / todo list</li>
        <li>Prioritising</li>
        <li>Design</li>
        <li>Build</li>
        <!-- Something about component based approach -->
        <!-- Small chunks for reusable -->
        <li>Justifications of design / </li>
        <!--  Link back to the requirements and how you did each part and why you did each bit -->
        <!-- Justify the technology choice, why you went for Angular, easy, you already know it, sass why you chose sass (agile benefits) -->
        <li>Review / Clean up</li>
        <li>Review / Clean up</li>
        <!-- Future scope / ideas -->
        <!-- What works / what doesn't work -->
    </ol>    

    <hr>

    <h2>Design</h2>

    <h3>The design steps</h3>
    
    <p>My design process incorporated a lot of the steps of a full UI / UX process, this was of course not as in depth as I would have liked, but gives an idea of how I like to design products </p>
    <ol>
        <li>
            <strong>Data review: </strong>
            What data do we have? Ratings? Images? What types of content are we delivering? How much data is there?
         </li>
        <li>
            <strong>Existing design review: </strong>
            Look at other designs / UI mock ups that people have made for design inspiration. I identified what was liked / disliked about each design, and ideas that I wanted to incorporate into my own design
         </li>
        <li>
            <strong>Sketching: </strong>
            Whilst looking at other ideas I would sketch different ideas that I had, so I wouldn't forget them, but also so that I could see on paper whether I liked the direction the design it was heading. 
         </li>
        <li>
            <strong>Created a design tile: </strong> 
            <!--  TODO: -->
        </li>
    </ol>

    <h3>Overall outcome from the design process</h3>
    <ul>
        <li>Liked the map on the right ideas</li>
        <li>Most apps didn't cater for different journeys / searching types, this would be <span class="accent">a really delightful feature [2]</span></li>
    </ul>

    <hr>
    <h2>Out of scope</h2>
    <h3>Performance</h3>
    <p>Below are some features that I would have liked to have added or a performance benefit</p>
    <h4>Infinite scroll</h4>
    <p>The foursquare app has a "see more results" button at the bottom of their list, this is nice as it segments and paginates which helps the interface load fast, but the user has to click to see the results, an infinite scroll here would be much nicer and not require the user to have to click to see more results, simply scroll.</p>
    
        
    

        <!-- Went onto dribble and found websites similar for inspiration -->
        <!-- Include the design document in here too -->
        <!-- Would do user journeys here in order to identify types of users and their use cases, how they would search -->
        <!-- This helps to build user empathy? -->



    <!-- Something about using wunderlist -->
    <!-- Add wunderlist screenshot -->
</div>