<br>
<br>
<br>
<div class="container">
    <h1> Foursquare demo </h1>
    <p> <strong>Description: </strong>A demo app using the foursquare API </p>

    <p>
        The code can be found on <a href="https://github.com/louisbichard/foursquare-demo"><strong>Github</strong></a>
    </p>

    <p>
        The live demo is hosted on <a href="https://louisbichard.github.io/foursquare-demo/"><strong>Github Pages</strong></a>
    </p>

    <!-- Reiterate the requirements specification and refer back to it -->

    <hr>

    <h2>Overview</h2>

    <p>This was a challenging piece, really testing my design eye, ability to sketch, code and build!</p>

    <br>
    <ol>
        <li>Approach</li>
        <li>Requirements dissemination</li>
        <li>Design</li>
        <li>Technology choice</li>
        <li>Build</li>
        <li>Known defects</li>
        <li>Improvements / out of scope</li>
    </ol>
    
    <!-- Talk about what it was, how you did each step, what and why you did them that way -->

    <hr>
    <h2>1. Approach</h2>    

    <h3>Full end to end approach</h3>
    <p>Whilst there wasn't much time in this process, I wanted to really do a mini end to end build, incorporating as many aspects that I use in a full design process</p>
    <p>My process for delivering this type of application / feature would not change, but given more time I would have spent a little more time on each of the phases of the design using different prototype methods and creating alternative mock interfaces and using tools such as A/B testing to work out the best designs. </p>
    <p>I was conscious and didn't want to just 'dive into' the project. I wanted to spend the time thinking about the users, the user journeys etc. This was obviously difficult without having direct access to any customer as this is a mocked scenario, but lets pretend that I did, and stages such as the design sketches were put through iterations and review as would be standard in a larger process. </p>


    <h3>Lean methodology</h3>
    <p>It is important to me not to just dive into the build of such an application as this is a sure fire way to waste time if I don't have a clear idea of what I'm doing. </p>
    <p>Instead, I started with the cheapest method: pen and pencil to sketch out ideas I had seen from other similiar applications, given more time this would have worked into other cheap methods of testing and validating hypothesis </p>
    
    <hr>

    <h2>2. Requirements</h2>    
    <p>Below are my rewriting of the requirements as they were delivered to me</p>
    <p>I believe the process of disecting the requirements given to you is extremely important as it helps you to recommunicate back to the requirements owner that you have really understood their requirements. </p>
    <h3>The requirements </h3>
    <p>These requirements will be referred back to throughout this document to show how each one was considered and thought about in the process of creating this app.</p>

    <ol>
        <li>Display autonomy</li>
        <li>Delightful UI/UX</li>
        <!-- You should summarise what you mean by this -->
        <li>Foursquare API: Search for a place by name &amp; return recommended / popular venues near that location </li>
        <li>Displaying of the results / the interface</li>
        <li>Use any language, platform, framework or libraries you think will get the job done.</li>
        <li>Use agile coding principles</li>
        <li>Development best practices</li>
        <li>Use a build tool to build the code or fetch dependencies</li>
        <!-- Use uglify / minify / concat the codebase -->
        <li>Use a test runner to run the tests.</li>
        <!-- Test runner -->
        <!-- Maybe don't do this, but explain how you would do it? -->
        <li>Create a deployable artifact or deploy within a container.</li>
        <!-- Deploy onto github pages? -->
    </ol>




    <hr>

    <h2>3. Design</h2>
    
    <h3>Data review</h3>
    <p> The first step was to review the data that was made available, this would shape the content of the design, was the API returning content in the form of images, text etc. </p>
    <p> By asking these questions I was able to shape and form the rest of the design process in which the size / form of the data was important to how the interface was created. </p>
    <p>Questions that were asked at this phase were: </p>
    <ul>
        <li>Will we need to make subsequent requests to fetch further data, what API's would these be? </li>  
        <li>Which information is the most important and what should be given UI prominence? </li>
        <li>Could all the information be displayed on a tile, or would expand / redirecting be required for extra information? </li>
        <li>What call to actions would the user take?</li>
        <li>Would the result set be large enough to require pagination?</li>
        <li>Would the content need to be scrollable if there is too much of it? </li>
        <li>What is the hierarchical structure of the data, is there a logical 'king' piece of content</li>
        <li>What groupings would the content take?</li>
    </ul>
    <p> What data do we have? Ratings? Images? What types of content are we delivering? How much data is there? </p>

    <h3>Existing design review</h3>
    <p> Look at other designs / UI mock ups that people have made for design inspiration. I identified what was liked / disliked about each design, and ideas that I wanted to incorporate into my own design </p>

    <br>
    <object height="600px" width="100%" data="../../assets/foursquare.pdf" type="application/pdf">
        <p>
            It appears you don't have a PDF plugin for this browser. You can <a href="myfile.pdf">click here to download the PDF file.</a>
        </p>
    </object>    
    <br>

    <h3>Sketching</h3>
    <p> Whilst looking at other ideas I would sketch different ideas that I had, so I wouldn't forget them, but also so that I could see on paper whether I liked the direction the design it was heading. </p>
    <br>
    
    <div class="row">
        <div class="col-md-3" ng-repeat="index in [1, 2, 3, 4]">
            <img width="100%" src="../../img/projects/foursquare/sketch{{index}}.jpg" alt="">
            <br>
            <br>
        </div>
    </div>

    <h3>User journey considerations</h3>
    <p>Whilst this phase was not formally conducted, I did some thinking around the types of users that would enter the application and the types of journeys that these users were likely to take, this meant looking at other apps and trying to work out how they had innovatively solved some of these user Journeys. </p>

    <h3>Design process outcome</h3>
    <ul>
        <li>Really liked the map-on-the-right format for the UI, seemed to be consistent across major apps</li>
        <li>Most apps didn't cater for different journeys / searching types, this would be <span class="accent">a really delightful feature [2]</span></li>
    </ul>

    <hr>

    <h2>4. Technology choices</h2>

    <h3>Bower</h3>

    <p>Bower is used to install app dependencies, keeping versioning clean and ensuring libraries can be updated easily.</p>

    <h3>Angular</h3>

    <p>I chose to build the app with Angular as this is a framework I've been working with a considerable amount in the past few years, so building flexible and clean architectures is a very quick process for me currently.</p>
    <p>Not much of angular was leveraged in this project however if the app were to grow in the future, the beginning framework is already in place. </p>

    <h3>SASS</h3>

    <p>Sass is used for the styling, this helps to keep things neat within the component-based approach, all colours / shadows / transitions are controlled by single global variables meaning that the style guide of the architecture is flexible. Update one value for the colour and this will propogate to the rest of the app with a single change <span class="accent">[6]</span></p>

    <hr>

    <h2>5. Build / Features</h2>
    
    <br>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <img class="shadow-high " width="100%" src="../../img/projects/foursquare/foursquare.png" alt="">
        </div>        
    </div>
        
    <br>

    <h3>Performance</h3>    

    <p>The search to the <span class="accent">foursquare API [3]</span>  is debounced so that the user is given 500ms to stop typing before a request is made, giving the user time to enter their search term fully before getting their resultset. </p>

    <br>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <img class="shadow-high" src="../../img/projects/foursquare/debounce.png" alt="" width="100%">    
        </div>
    </div>
    
    <br>

    <h3>Animations</h3>    

    <p>On load the left panel animates in from the left</p>

    <h3>Component based approach</h3>    

    <p>The interface is broken up into separate components, for instance the results is comprised of restaurant tiles, with this approach the content can be moved around VERY easily, keeping the <span class="accent" > architecture flexible and agile friendly [6]</span> </p>

    <br>

    <img class="shadow-high" src="../../img/projects/foursquare/components.png" alt="" width="100%">
    <br>

    <h3>Flexible style guide</h3>    

    <p>As above the styles are created as isolated variables, meaning that all changes are propogated throughout the appliation keeping the <span class="accent" > architecture flexible and agile friendly [6]</span> </p>
    
    <br>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <img class="shadow-high" src="../../img/projects/foursquare/styles.png" alt="" width="100%">
        </div>
    </div>
    <br>

    <hr>

    <h2>6. Known defects</h2>
    <h3>Drag / Click on map</h3>
    <p>Drag / Clicking is not currently working, as the z-index of the map container is affected in order to overlay the search, an alternative was not found within the deadline time</p>

    <hr>

    <h2>7. Improvements / Out of scope</h2>
    
    <h3>Infinite scroll</h3>

    <p>The foursquare app has a "see more results" button at the bottom of their list, this is nice as it segments and paginates which helps the interface load fast, but the user has to click to see the results, an infinite scroll here would be much nicer and not require the user to have to click to see more results, simply scroll.</p>

    <h3>Typeahead</h3>
    <p>An autocomplete / typeahead would improve the UX when searching for items</p>

    <h3>Groupings / Filters</h3>
    <p>I wanted to really dive into the user journies and start to understand what types of tasks they were trying to achieve, one way that this would probably manifest is some clever filters or groupings that allow the user to quickly reduce the result sets into amounts that they require.</p>

    <h3>Alternative card based UI</h3>
    <p>Rather than map centric UI, a card based UI would allow the user to expand the search list to view extra details in a non location centric interface.</p>
    <p>This was a feature that I identified as a nice-to-have in the design process when reviewing other sites.</p>

    <h3>Responsive UI</h3>
    <p>The left search panel is currently fixed width meaning smaller resolution devices do not get any meaningful UX</p>    

</div>