<h2> Thinkful course: Front End Web Development </h2>
<p> I currently teach the front end web development course for Thinkful and as a practice of the curriculm, I decided to go ahead have a go and start going through the challenges </p>
<br>
<div class="row">
    <div class="col-md-6">
        <h3>About me page</h3>
        <ul>
            <li>HTML page</li>
            <li>CSS background colors</li>
            <li>H2 and P element usage</li>
        </ul>
        <p> <a href="https://github.com/louisbichard/aboutme"> View it on Github </a>
            <p> <a href="https://louisbichard.github.io/aboutme/"> View the live page </a>
    </div>
    <div class="col-md-6">
        <img src="../../img/projects/front_end_web_development/about.png" width="100%" alt="">
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-6">
        <h3>Display exercise</h3>
        <ul>
            <li>Use of inline-block css and margin's to center content</li>
            <li>Div alignment</li>
        </ul>
        <p> <a href="https://github.com/louisbichard/thinkful-display-exercise"> View it on Github </a> </p>
    </div>
    <div class="col-md-6">
        <img src="../../img/projects/front_end_web_development/display.png" width="100%" alt="">
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-6">
        <h3>Position exercise</h3>
        <ul>
            <li>Use of position relative and absolute to position images</li>
            <li>Use of full size background image</li>
        </ul>
        <p> <a href="https://louisbichard.github.io/thinkful-display-exercise2/position-exercise.html"> View it on Github Pages </a></p>
    </div>
    <div class="col-md-6">
        <img src="../../img/projects/front_end_web_development/position.png" width="100%" alt="">
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-6">
        <h3>Float exercise</h3>
        <ul>
            <li>Use of float to wrap text</li>
        </ul>
        <p> <a href="https://louisbichard.github.io/thinkful-display-exercise2/float-exercise.html"> View it on Github Pages </a> </p>
    </div>
    <div class="col-md-6">
        <img src="../../img/projects/front_end_web_development/float.png" width="100%" alt="">
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-6">
        <h3>Sign up form exercise</h3>
        <ul>
            <li>HTML forms</li>
            <li>Form validation</li>
            <li>Styling</li>
            <li>CSS transitions</li>
            <li>CSS positioning</li>
        </ul>
        <p> <a href="https://louisbichard.github.io/thinkful-signup"> View it on Github Pages </a> </p>
    </div>
    <div class="col-md-6">
        <img src="../../img/projects/front_end_web_development/signup.png" width="100%" alt="">
    </div>
</div>
