<h1>Lisa Jane Griffin</h1>
<p>Website for life coach and consultant Lisa Jane Griffin </p>
<p>The project included creating a website to "tell the story" of the client, hence the one page solution. </p>
<p> The site was designed to "flow" carefully between each of the clients services, showcasing their warm personality, whilst tackling difficult topics such as homicide.</p>
<div class="row">
    <div class="col-md-12">
        <p>
            <a href="http://www.lisajanegriffin.com/">Live demo</a>
        </p>
        <p>
            <a href="https://github.com/louisbichard/lisajanegriffin">Github</a>
        </p>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h2> Technologies </h2>
                <ul>
                    <li>Javascript</li>
                    <li>CSS</li>
                    <li>SASS</li>
                    <li>JQuery</li>
                    <li>Media Queries</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-6">
        <img class="img-responsive" src="../../img/projects/lisajanegriffin/home.png" height="960" width="1913">
    </div>
    <div class="col-md-6">
        <img class="img-responsive" src="../../img/projects/lisajanegriffin/journey.png" height="961" width="1913">
    </div>
</div>
<br>
<br>
<br>
<div class="row">
    <div class="col-md-6">
        <img class="img-responsive" src="../../img/projects/lisajanegriffin/lifecoach.png" height="961" width="1913">
    </div>
    <div class="col-md-6">
        <img class="img-responsive" src="../../img/projects/lisajanegriffin/sio.png" height="961" width="1911">
    </div>
</div>