<br>
<br>
<br>
<div class="container">
    <h1>Moon penny</h1>
    <p>Website for counsellor and hypnotherapist </p>
    <p>A basic information delivering website about prices of services, the company and its location etc. </p>
    <p>The site was designed with a gender-netural, calming and simplistic theme</p>
    <div class="row">
        <div class="col-md-12">
            <p>
                <a href="http://moonpenny.co.uk">Live demo</a>
            </p>
            <p>
                <a href="https://github.com/louisbichard/moonpenny">Github</a>
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h2> Technologies </h2>
                    <ul>
                        <li>Javascript</li>
                        <li>CSS</li>
                        <li>SASS</li>
                        <li>JQuery</li>
                        <li>Media Queries</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="../../img/projects/moonpenny/landing.png" height="960" width="1913">
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="../../img/projects/moonpenny/service.png" height="961" width="1913">
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="../../img/projects/moonpenny/contactus.png" height="961" width="1913">
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="../../img/projects/moonpenny/service.png" height="961" width="1911">
        </div>
    </div>
</div>
