<h1>Survivors United Designs</h1>

<p class="lead"> Designs for the Survivors United dashboard application </p>

<div class="row">
    <div class="col-md-4">
        <h2> Wireframes </h2>
    </div>
    <div class="col-md-4 col-md-offset-4">
        <img class="img-responsive" src="../../img/projects/final_year_project/ext_dash.png" height="1946" width="3440"></img>
        <br>
        <img class="img-responsive" src="../../img/projects/final_year_project/int_dash.png" height="1900" width="3398"></img>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-4">
        <h2> PSD Mock ups </h2>
    </div>
    <div class="col-md-4 col-md-offset-4">
        <img class="img-responsive" src="../../img/projects/final_year_project/mock.jpg" height="1417" width="1890"></img>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-4">
        <h2> Screenshots </h2>
    </div>
    <div class="col-md-4 col-md-offset-4">
        <img class="img-responsive" src="../../img/projects/final_year_project/su.jpg" height="1354" width="2180"></img>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-4">
        <h2> Contextual mock ups </h2>
    </div>
    <div class="col-md-4 col-md-offset-4">
        <img class="img-responsive" src="../../img/projects/final_year_project/coffeehouse_laptop.jpg"></img>
        <br>
        <img class="img-responsive" src="../../img/projects/final_year_project/ipad.jpg" height="1400" width="2100"></img>
    </div>
</div>