<h1>Survivors United</h1>

<p class="lead"> MEAN stack dashboard application for government funded charity Survivors United. </p>

<hr>

<div class="row">
    <div class="col-md-8">
        <h2> Features </h2>
        <ul>
            <li>MongoDB</li>
            <li>Angular</li>
            <li>Express</li>
            <li>Node</li>
            <li>D3 Charts</li>
            <li>Fully unit tested front end </li>
            <li>Fully tested REST endpoints</li>
            <li>Developer test suite with error statistics and test running at the click of a button</li>
            <li>Cylomatic Complexity application wide is &lt; 5</li>
        </ul>
        
    </div>
    <div class="col-md-4">
    	<img class="img-responsive"  src="../../img/projects/final_year_project/istanbul.png" alt="">
    	<br>
        <img class="img-responsive" src="../../img/projects/final_year_project/rest_output.png" alt="">        
    </div>
</div>

<hr>

<h2> Designs </h2> Full designs including wireframes, photoshop mocks and contextual interface mocks can be found <a href="#survivors_united_designs">here</a>

<hr>

<h2> Briefing specification </h2>

<object data="../../assets/fypbrief.pdf" type="application/pdf" width="100%" height="600px">
    <p>
        It appears you don't have a PDF plugin for this browser. You can <a href="myfile.pdf">click here to download the PDF file.</a>
    </p>
</object>