<br>
<br>
<br>
<div class="container">
    <h1>XML Based Website</h1>
    <p>A university module piece of coursework aimed to showcase XML technologies and XSLT </p>
    <div class="row">
        <div class="col-md-12">
            <p>
                <a href="http://sypsailing.s3.amazonaws.com/index.html#/home">Live demo</a>
            </p>
            <p>
                <a href="https://github.com/louisbichard/xml-based-site">Github</a>
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h2> Technologies </h2>
                    <ul>
                        <li>Javascript</li>
                        <li>CSS</li>
                        <li>Angular</li>
                        <li>SASS</li>
                        <li>XML</li>
                        <li>XSLT</li>
                        <li>DTD</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="../../img/projects/xml/home.png">
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="../../img/projects/xml/training.png">
        </div>
    </div>
</div>
